help.md
blog-backend/.env
blog-backend/node_modules
blog-frontend/.env.local
blog-frontend/node_modules
blog-frontend/.next
blog-frontend/next-env.d.ts 
blog-frontend/public/data
blog-frontend/public/data/vietnamfull.geojson

blog-frontend/public/data/vietnamtets.geojson